{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 96vh;
    }
    .input {
        display: flex;
        gap: 16px;
        margin-bottom: 16px;
        label {
            min-width: 100px;
            text-align: right;
        }
    }
    .register {
        margin-top: 20px;
    }
</style>
<div class="form">
    <h1>Register</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}

    <div class="register">
        <a href="{{ path('app_login') }}">Login</a>
    </div>
</div>
{% endblock %}
